


mysql -u root -p


use mysql

update user set password=PASSWORD('123456') where user='root';


flush privileges;
exit

#No plugin='' são aspas simples duas vezes.




«««««««««««««««««««««
#sudo /etc/init.d/mysql stop
sudo mysqld_safe --skip-grant-tables &
mysql -uroot
use mysql;
update user set password=PASSWORD('123456') where user='root';

flush privileges;
